body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

/* .block1,
            .block2,
            .block3,
            .block4,
            .function,
            .computer,
            .block5,
            .block6,
            .case, .case2
            .block7,
            .appl_1,
            .appl_2,
            footer,
            .f_1,
            .f_2,
            .f_3 {
                border: 1px solid blue;
            } */

.block1 {
  width: 1920px;
  height: 821px;
  background: url("../images/slajder-sajt-1.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  display: flex;
}

.black1 {
  width: 1016.71px;
  height: 821px;
  background: black;
  justify-content: space-around;
  margin-left: 920px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28.96% 100%);
}

.logo {
  margin-top: 77px;
  margin-left: 311px;
}

.logo img {
  width: 377.26px;
  height: 63px;
}

.descr {
  width: 560px;
  height: 272px;
  margin: 125px 0 auto 235px;
}

.descr h1 {
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  line-height: 68.09px;
}

.button {
  width: 245px;
  height: 72px;
  margin-top: 137px;
  margin-left: 444px;
  border-radius: 5px;
}

.button button {
  width: 100%;
  height: 100%;
  font-size: 25px;
  cursor: pointer;
}

.block2 {
  width: 1920px;
  height: 564px;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap; */
  /* flex-direction: column; */
}

.head {
  width: 100%;
  height: 65px;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.37px;
  color: #707070;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.smile_1,
.smile_2,
.smile_3,
.smile_4 {
  width: 320px;
  height: 290px;
  text-align: center;
  border: 1px solid #707070;
  margin-right: 25px;
}
.smile_1 span,
.smile_2 span,
.smile_3 span,
.smile_4 span {
  font-size: 50px;
  padding-top: 35px;
}
.smile_1,
.smile_2,
.smile_4 {
  font-size: 36px;
  color: #707070;
}
.smile_3 {
  font-size: 28px;
  color: #707070;
}
.smile_1 p,
.smile_2 p,
.smile_3 p,
.smile_4 p {
  margin: 0 auto;
}
/*      .arrows {
                display: flex;
                align-items: center;
                color: #707070;
                font-size: 36px;
                text-transform: uppercase;
                margin-bottom: 15px;
            } */

/* .arrows span {
                margin-right: 50px;
            } */

/* .arrows .material-icons {
                font-size: 36px;
                transform: rotate(80deg);
            } */

.block3 {
  width: 1920px;
  height: 643px;
  margin: 0 auto;
  display: flex;
}

.operators {
  width: 1047px;
  height: 643px;
  background: url("../images/operators.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  border: none;
}

.black2 {
  width: 387px;
  height: 643px;
  border: none;
  background: black;
  /* justify-content: space-around; */
  text-align: center;
  margin-left: 660px;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.black2 h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  /* text-align: center; */
  margin-top: 93px;
}

.web,
.desk {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  /* margin-left: 55px; */
}

.web {
  margin-top: 262px;
  /* margin-left: 60px; */
}

.desk {
  margin-top: 36px;
}
.driver {
  width: 880px;
  border: none;
}
.driver img {
  width: 880px;
  height: 100%;
  border: none;
}

.block4 {
  width: 1920px;
  height: 793px;
  margin: 0 auto;
}

.wrap_func {
  display: flex;
  height: 650px;
  justify-content: center;
}

.func_web {
  width: 650px;
  /* padding-left: 100px; */
  padding-top: 65px;
  flex-direction: column;
}

.nav {
  display: flex;
  color: #707070;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.nav span {
  margin-right: 35px;
  font-size: 45px;
}

.func_but {
  margin-left: 70px;
  margin-top: 50px;
}

.func_but button {
  width: 320px;
  height: 65px;
  background: #9d9d9d;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
}

.computer {
  width: 790px;
  text-align: center;
}

.computer img {
  width: 75%;
  padding-top: 70px;
}

.block5 {
  width: 1920px;
  height: 753px;
  margin: 0 auto;
  background: #d6d5d5;
}

.wrap_plan {
  display: flex;
  justify-content: center;
}

.tablet {
  width: 705px;
  text-align: center;
}

.tablet img {
  width: 70%;
  padding-top: 80px;
}

.func_tab {
  padding-top: 80px;
}

.block6 {
  width: 1920px;
  height: 750px;
  margin: 0 auto;
  background: #cac9c9;
}

#b6 {
  width: 100%;
  height: 65px;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.37px;
  color: #707070;
  text-align: center;
  text-transform: uppercase;
}

.case {
  display: flex;
}
/* .case1, */
/* .case3 */

.case2 {
  width: 480px;
  height: 685px;
}

.case1 {
  width: 790px;
  height: 685px;
  z-index: 1;
  background: #000000;
  position: absolute;
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.case1 h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  /* text-align: center; */
  padding-left: 345px;
  padding-top: 100px;
}

.nav_case1 {
  display: flex;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-left: 270px;
  /* margin-left: 210px; */
}

.nav_case1 span {
  margin-right: 30px;
  /* margin-left: 170px; */
  font-size: 35px;
  /* color: #000000; */
}

.case2 {
  position: relative;
  left: 720px;
}

.case2 img {
  width: 100%;
  height: 685px;
}

.case3 {
  width: 770px;
  height: 685px;
  background: #cac9c9;
  position: relative;
  left: 650px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.case3 h1 {
  font-size: 36px;
  color: #707070;
  font-weight: 400;
  text-transform: uppercase;
  /* text-align: center; */
  padding-left: 115px;
  padding-top: 100px;
}

.nav_case3 {
  display: flex;
  color: #707070;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-left: 70px;
}

.nav_case3 span {
  margin-right: 20px;
  /* margin-left: 95px; */
  font-size: 30px;
}

.block7 {
  width: 1920px;
  height: 655px;
  margin: 0 auto;
  background: url("../images/fon_7.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
}

.appl_1 {
  width: 1115px;
  height: 655px;
}

.appl_1 h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 320px;
  margin-top: 80px;
}

.appl_1 h2 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
  margin-left: 320px;
  margin-top: 40px;
}

.form {
  width: 365px;
  height: 450px;
  background: #ffffff;
  margin-top: 125px;
  margin-left: 80px;
}

.form h1 {
  color: #707070;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
}

.form h3 {
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;
}
/* .form_number {
  position: relative;
}
.form_number:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(https://www.google.ru/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fru%2Ffree-png-yfeos&psig=AOvVaw0FF5b-EBmnlXPk3TOnCmyV&ust=1633329104181000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCICqkNHPrfMCFQAAAAAdAAAAABAK)
    no-repeat;
  background-size: cover;
} */
/* .form_number {
  
} */

.input_container {
  position: relative;
  width: 300px;
  height: 70px;
  color: #c2c2c2;
  /* text-align: center; */
  margin: 0 auto;
}
.input_container > img {
  width: 13.3%;
  /* height: 30px; */
  position: absolute;
  top: 25px;
  left: 25px;
}
.input_container > input {
  padding-left: 70px;
  width: 225px;
  height: 70px;
  background: #eaeaea;
  border: none;
  font-size: 17px;
}
/* .form input {
  width: 300px;
  height: 70px;
  background: #eaeaea;
  text-align: center;
  margin-left: 32px;
  border: none;
  font-size: 17px;
  padding: 0;
} */

.form button {
  width: 300px;
  height: 70px;
  background: #9d9d9d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 32px;
  margin-top: 25px;
  padding: 0;
  border-width: 0;
  cursor: pointer;
}

.form h4 {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  text-align: center;
}

footer {
  width: 1920px;
  height: 330px;
  margin: 0 auto;
  display: flex;
}

.f_1 {
  width: 314px;
  height: 330px;
  background: black;
}

.f_2 {
  width: 510px;
  height: 330px;
  background-color: #c2c2c2;
  position: relative;
}
.f_2_black {
  position: absolute;
  top: -5px;
  width: 0;
  height: 0;
  border-top: 165px solid transparent;
  border-left: 150px solid black;
  border-bottom: 165px solid transparent;
}

.f_2 h2 {
  color: #707070;
  font-size: 30px;
  margin-top: 100px;
  margin-left: 175px;
  font-weight: 400;
}

.f_3 {
  width: 1182px;
  height: 330px;
  background: url("../images/footer.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.f_3_grey {
  position: absolute;
  top: -5px;
  width: 0;
  height: 0;
  border-top: 165px solid transparent;
  border-left: 150px solid #c2c2c2;
  border-bottom: 165px solid transparent;
}
